<div class="container-fluid">
  <div class="row">
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-12">
      <app-menu></app-menu>
    </div>
    <div class="col-xl-10 col-lg-9 col-md-8 col-sm-7 col-12">
      <app-header></app-header>
      <router-outlet></router-outlet>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil, veniam pariatur? Quasi, iusto temporibus provident laborum nesciunt debitis et tenetur eos fugiat ut non quae quia velit obcaecati beatae vero.  
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-footer></app-footer>
    </div>
  </div>
</div>