
<div 
    class="wrapper"
    [ngClass]="{'spread': toggleMenu, 'collapsed': !toggleMenu}">
    <div class="container-fluid d-flex flex-column justify-content-between">
        <div class="p-2 pointer">
            <i class="pi pi-window-minimize" style="font-size: 1.5rem; float: right;" (click)="onClick()"></i>
        </div>
        <ul>
            <li class="tabs mt-4 ps-3"><i class="pi pi-user me-2" style="font-size: 1.5rem"></i> Ivan Borisov</li>
            <li class="pointer tabs mt-4 ps-3"><i class="pi pi-chart-bar me-2" style="font-size: 1.5rem"></i> Dashboard</li>
            <li class="pointer tabs mt-1 ps-3"><i class="pi pi-cog me-2" style="font-size: 1.5rem"></i> Settings</li>
        </ul>
        <div class="signoutTab py-1 mt-5 mb-2"><i class="pi pi-sign-out me-1"></i>Sign out</div>
    </div>
</div>