<div class="container-fluid d-flex flex-column justify-content-between px-3">
  <h2 class="logo pointer text-center mt-3" routerLink="home">Inawo</h2>
  <ul class="mb-0">
    <li class="pointer tabs ps-3" routerLink="dashboard">
      <i class="pi pi-chart-bar me-2" style="font-size: 1.5rem"></i> Dashboard
    </li>
    <li class="pointer tabs mt-2 ps-3">
      <i class="pi pi-cog me-2" style="font-size: 1.5rem"></i> Settings
    </li>
  </ul>
  <div class="signoutTab pointer ps-3 py-1 mt-5 mb-2">
    <i class="pi pi-sign-out me-1"></i>Sign out
  </div>
</div>
